.ArtistPage-container {
  margin: 0 0 10px;
  padding: 20px;
  border-radius: 3px;
  // box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  // background-color: #fff;
  animation-name: fade-up;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.ArtistPage-content {
  display: flex;
  flex-direction: column; 
}

.ArtistPage-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
}

.ArtistPage-review {
  display: flex;
  flex-flow: column;
  padding: 0 20px;
  flex-grow: 1;
  font-size: 100%;
}

.hide :not(:first-child) {
  display: none;
}

.ArtistPage-review-content a {
  color: #0d5ffc;
}

.ArtistPage-review-expand-btn {
  align-self: flex-end;
}

.ArtistPage-review-expand-btn .expanded {
  transition: all 1s ease;
}

.Page-admin-controls {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.Page-edit {
  cursor: pointer;
}

.Page-edit-button {
  display: flex;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: uppercase;
  border: 10px;
  font-family: Google Sans, sans-serif;
  cursor: pointer;
  margin: 0 5px 5px;
  padding: 0px 20px;
  outline: none;
  height: 36px;
  line-height: 36px;
  width: 88px;
  border-radius: 3px;
  background-color: rgb(14, 97, 253);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.Page-edit-button:hover {
  background-color: rgb(86, 143, 251);
}

#Page-markdown-content {
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
}

.ArtistPage-disco-heading {
  padding: 0 20px;
}

/****************** Media Query *****************/ 

@media only screen and (min-width: 768px) {
  .ArtistPage-content {
    flex-direction: row;
  }
  .ArtistPage-img {
    align-self: flex-start;
  }
  .Page-admin-controls {
    flex-flow: column;
    justify-content: flex-start;
  }
}
