.ArtistPage-container {
  margin: 0 0 10px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  background-color: #fff;

  animation-name: fade-up;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.ArtistPage-content {
  display: flex;
  flex-direction: column; 
}

.ArtistPage-img {
  width: 300px;
  align-self: center;
}

.ArtistPage-review {
  padding: 20px;
  flex-grow: 1;
}

/****************** Media Query *****************/ 

@media only screen and (min-width: 768px) {
  .ArtistPage-content {
    flex-direction: row;
  }
  .ArtistPage-img {
    align-self: flex-start;
  }
}
