.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  // background: rgb(43,61,150);
  // background: linear-gradient(180deg, rgba(43,61,150,1) 45%, rgba(118,44,145,1) 73%, rgba(251,71,37,1) 100%);
  background: center/120% no-repeat url('https://firebasestorage.googleapis.com/v0/b/api-project-464300049727.appspot.com/o/Meader.jpg?alt=media&token=f48edaa5-8382-41c1-92eb-78285a15878a');
  height: 385px;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.App-header-row {
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
  font-weight: 200;
}

.App-header-link {
  color: #fff;
}

.App-panel {
  margin: 120px auto;
  width: 96%;
  border-radius: 3px;
}

li {
  text-align: left;
}

.App-footer {
  position: relative;
  z-index: -2;
  // position: fixed;
  // text-align: center;
  // width: 100%;
  // bottom: 10px;
}

@media only screen and (min-width: 960px) {
  .App-header {
    min-height: 85%;
  }
  .App-panel {
    width: 930px;
  }
}
