.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #1578ff;
  background: url('https://firebasestorage.googleapis.com/v0/b/api-project-464300049727.appspot.com/o/Meader_cropped_33.jpg?alt=media&token=bdc6d27b-1b11-4ab8-8a12-dc3c2f2d420a') no-repeat center;
  background-size: cover;
  height: 120px;
  padding: 0 20px;
  color: white;
  position: sticky;
  top: -60px;
  width: 100%;
  z-index: 1000;
  transition: all .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  animation-name: fade-down;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.App-header-link h4 {
  margin-left: 10px;
}

.App-header-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.App-header-row.toolbar {
  padding-top: 8px;
}

#searchField::before {
  border-bottom: #fff;
}
.classes-state-root.hover {
  border-bottom-color: #fff; 
}

#searchField::hover {
  border-bottom: 2px solid #fff
}

#searchField {
  color: #fff;
  border-bottom-color: #fff; 
}

.material-icons.back {
  color: #fff;
  margin-left: 10px;
}

.App-title {
  font-size: 1.35em;
  font-weight: 200;
}

.App-header-link {
  color: #fff;
}

.App-panel {
  flex: 1;
  margin: 10px auto 0;
  width: 96%;
  border-radius: 3px;
}

li {
  text-align: left;
}

.App-footer {
  opacity: 1;
  margin: 24px 0 32px;
  position: relative;
  z-index: -2;
  transtition: opacity 1s ease;
}

.App-footer.hide {
  opacity: 0
}

@media only screen and (min-width: 960px) {
  .App-panel {
    width: 930px;
  }
}

@media only screen and (min-width: 1475px) {
  .App-panel {
    width: 1227px;
  }
}
