.ArtistList-flex-container {
  display: flex;
  flex-flow: wrap;

  animation-name: fade-up;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.ArtistList-item-container {
  display: flex;
  width: 400px;
  margin: 8px 8px 10px 8px;
  background: #f9f9f9;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
              rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 5px;
  transition: box-shadow .1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.ArtistList-item-image {
  width: 160px;
  height: 160px;
  align-self: center;
  object-fit: cover;
}

.ArtistList-item-name {
  padding: 20px;
  flex-grow: 1;
}

/****************** FADE-UP ANIMATION ***********/

@keyframes fade-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/****************** Media Query *****************/ 

@media only screen and (min-width: 768px) {
  .ArtistList-item-container {
    width: 31%;
  }
}
